<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>CFT - Form. Alumno</title>
	</head>
	<body>
		<h1>Form Alumno</h1>
		
		<form th:action="@{/alumno/procesar}" th:object="${alumno}" method="POST">
			<input type="hidden" th:field="*{id}"/>
			<p>
				Nombre: <input type="text" th:field="*{nombre}" th:value="${#strings.trim(alumno.nombre)}" />
				<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red;"/>
			</p>
				<p>
				Fecha Nacimiento: <input type="date" th:field="*{fechaNacimiento}"/>
				<span th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" style="color:red;"/>
			</p>
			Carrera:
				<select th:field="*{carrera}">
				<option th:each="carrera : ${carreras}" th:value="${carrera.id}" th:text="${carrera.nombre}" />
				</select>
			<button type="submit">Guardar</button>
		</form>
	</body>
</html>